﻿@page
@model INVO20.Pages.HourPkts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HourPkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HourPkt.WorkerID" class="control-label"></label>
                <select asp-for="HourPkt.WorkerID" class ="form-control" asp-items="ViewBag.WorkerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HourPkt.Descrizione" class="control-label"></label>
                <input asp-for="HourPkt.Descrizione" class="form-control" />
                <span asp-validation-for="HourPkt.Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourPkt.Date" class="control-label"></label>
                <input asp-for="HourPkt.Date" class="form-control" />
                <span asp-validation-for="HourPkt.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourPkt.Quantity" class="control-label"></label>
                <input asp-for="HourPkt.Quantity" class="form-control" />
                <span asp-validation-for="HourPkt.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourPkt.TaskID" class="control-label"></label>
                <select asp-for="HourPkt.TaskID" class ="form-control" asp-items="ViewBag.TaskID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
