﻿@page
@model INVO20.Pages.HourPkts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HourPkt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Worker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Worker.Acronimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Descrizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Descrizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Task.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="HourPkt.WorkerID" />
        <input type="hidden" asp-for="HourPkt.TaskID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
