﻿@page
@model INVO20.Pages.HourPkts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HourPkt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Worker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Worker.Acronimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Descrizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Descrizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HourPkt.Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourPkt.Task.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
