﻿@page
@model INVO20.Pages.HourPkts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HourPkt[0].Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourPkt[0].Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourPkt[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourPkt[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourPkt[0].Task)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HourPkt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.Acronimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
