﻿@page
@model INVO20.Pages.Tasks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.AssignedHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.AssignedHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.SuperTask)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.SuperTask.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Descrizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Descrizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Worker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Worker.Acronimo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Task.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
