﻿@page
@model INVO20.Pages.Tasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].AssignedHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].SuperTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Worker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Task) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedHours)
            </td>
            <td>
                @{if (item.SuperTask != null)
                      Html.DisplayFor(modelItem => item.SuperTask.Name);
                    else
                      Html.Raw("No Parents");
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.Acronimo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
