﻿@page
@model INVO20.Pages.Workers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Worker.Name" class="control-label"></label>
                <input asp-for="Worker.Name" class="form-control" />
                <span asp-validation-for="Worker.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Acronimo" class="control-label"></label>
                <input asp-for="Worker.Acronimo" class="form-control" />
                <span asp-validation-for="Worker.Acronimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.AreaID" class="control-label"></label>
                <select asp-for="Worker.AreaID" class ="form-control" asp-items="ViewBag.AreaID"></select>
            </div>
            <div class="form-group">
              <label asp-for="Worker.WorkerGroupID" class="control-label"></label>
              <select asp-for="Worker.WorkerGroupID" class="form-control" asp-items="ViewBag.WorkerGroupID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
