﻿@page
@model INVO20.Pages.Workers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Acronimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Acronimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Area.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.WorkerGroupID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.WorkerGroupID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Worker.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
