﻿@page
@model INVO20.Pages.Workers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Acronimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Acronimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Area.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.WorkersGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.WorkersGroup.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Worker.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
